**/_patches
**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/publish
**/out
**/*.user
**/*.suo
**/.DS_Store
**/.env
**/.env.local
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json
docker-compose.override.yml
